dash==0.32.2
dash-bootstrap-components==0.3.4
dash-core-components==0.40.3
dash-html-components==0.13.2
dash-renderer==0.16.0
dash-table==3.1.11
docker==3.5.1
docker-compose==1.21.2
docker-pycreds==0.3.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
facebook-business==3.1.1
Flask==1.0.2
Flask-Compress==1.4.0
grpcio==1.16.0
gspread==3.0.1
gunicorn==19.6.0
httplib2==0.11.3
idna==2.6
ipaddress==1.0.22
jdcal==1.4
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
lxml==4.2.5
macholib==1.5.1
MarkupSafe==1.0
modulegraph==0.10.4
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.1
MySQL-python==1.2.5
nbformat==4.4.0
numpy==1.15.4
oauth2client==4.1.3
oauthlib==2.1.0
openpyxl==2.3.5
ortools==6.8.5452
pandas==0.23.4
pandas-datareader==0.7.0
pathlib==1.0.1
pathlib2==2.3.2
pathspec==0.5.5
patsy==0.5.0
pexpect==4.6.0
pickleshare==0.7.4
plac==0.9.6
plotly==3.4.2
preshed==2.0.1
prompt-toolkit==1.0.15
protobuf==3.15.0
ptyprocess==0.6.0
py2app==0.7.3
Pygments==2.2.0
pytz==2016.6.1
PyYAML==3.13
pyzmq==17.0.0
regex==2018.1.10
requests==2.18.4
requests-oauthlib==0.8.0
retrying==1.3.3
rsa==3.4.2
scandir==1.7
semantic-version==2.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
SQLAlchemy==1.2.9
statsmodels==0.9.0
termcolor==1.1.0
texttable==0.9.1
thinc==6.12.0
toolz==0.9.0
tornado==5.0.2
tqdm==4.28.1
traitlets==4.3.2
ujson==1.35
uritemplate==3.0.0
urllib3==1.22
virtualenv==16.1.0
wcwidth==0.1.7
websocket-client==0.54.0
Werkzeug==0.14.1
wget==3.2
whitenoise==3.2.2
wrapt==1.10.11
